div{
    background: rgba(255, 192, 203, 0.527);
    height: 250px;
    display: flex;
    flex-direction: column;
}
    .button_style{
        padding: 1rem;
        background: rgba(255, 166, 0, 0.322);
    }