<p-dialog
    header="Lista de ordenes de silucia"
  
    [modal]="true"
    [closable]="false"
    [visible]="isOpen()"
    [style]="{ maxWidth: '860px' }"
>

    <div  style="display: flex; gap: 1rem;">
        <input 
            pInputText 
            icon="pi pi-search"
            type="text"
            [value]="tableData().filters.anio"
            (input)="onAddFilters('anio', $event.target.value)"
            placeholder="ingrese año" 
            (keyup.enter)="search()"
            [style]="{width: '8rem'}"

        />

        <input
            pInputText 
            type="text"
            [value]="tableData().filters.codmeta"
            (input)="onAddFilters('codmeta', $event.target.value)"
            placeholder="ingrese código" 
            (keyup.enter)="search()"
            [style]="{width: '9rem'}"
        />
        
        <div style="display:flex; gap: 0.5rem;">
            <p-button label="Buscar"  outlined (onClick)="search()"></p-button>
            <p-button  label="limpiar" severity="primary" (click)="cleanFilters()"></p-button>
        </div>

    </div>

    <p-table
        [loading]="tableData().loading"
        paginatorDropdownAppendTo="body" 

        [value]="tableData().value"
        [rows]="tableData().rows"
        [paginator]="true"

        [first]="tableData().first"
        [totalRecords]="tableData().totalRecords"
        
        (onLazyLoad)="onLazyLoad($event)"
        [rowsPerPageOptions]="tableData().rowsPerPageOptions"
        [lazy]="true"
        
        [lazyLoadOnInit]="false"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:3rem;">id</th>
                <th pSortableColumn="id">año</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th style="max-width:200px; width:200px;">acciones</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-subrow>
            <tr>
                <td>{{subrow.idmeta}}</td>
                <td>{{subrow.anio}}</td>
                <td>{{subrow.codmeta}}</td>
                <td>{{subrow.nombre_corto}}</td>
                <td style="">
                    <div style="height: 5rem; overflow-y: auto; word-wrap: break-word;">
                        {{subrow.desmeta}}
                    </div>
                </td>
                <td>
                    <p-button (click)="importObra(subrow)">
                        importar
                    </p-button>
                </td>


            </tr>
        </ng-template>

        <!-- <ng-template pTemplate="footer" [style]="{{background: yellow;}}"> -->


    </p-table>

    <ng-template pTemplate="footer">
        <div style="display: flex; justify-content: flex-end; gap: 0.5rem; width: 100%;">
            <p-button (click)="closeModal()">
                cerrar
            </p-button>
        </div>
    </ng-template>
</p-dialog>
<p-toast />