.outlet-container{
transition: margin 0.3s ease;
/* border: 1px solid red; */
/* padding-bottom: 5rem; */
/* border: 2px solid red; */
/* padding-top: 4rem; */
}

.dark_container_right_side{
    margin-left: 321px;
}

@media (max-width: 768px) {
  .dark_container_right_side {
    margin-left: 0px;
  }
}