.outlet-container{
  transition: margin 0.3s ease;
  padding-top: 4rem;
}

.dark_container_right_side{
    margin-left: 320px;
}

@media (max-width: 768px) {
  .dark_container_right_side {
    margin-left: 0px;
  }
}