<p-dialog
  header=""
  [modal]="true"
  [closable]="false"
  [visible]="isOpen()"
  [style]="{ width: '360px' }"
>
  <form (ngSubmit)="onBuscarDni()" style="display:flex; flex-direction:column; gap:14px;">

        <input
          pInputText 
          name="dni"
          placeholder="Ingrese DNI"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="8"
          [(ngModel)]="dniQuery"
        />
        <!-- @if(dniQuery){
          <h4>Usuarios Seleccionados:</h4>
          <p>Usuarios Seleccionados:</p>
          <p>Usuarios Seleccionados:</p>
        } -->
        <div style="display:flex; gap:12px; justify-content:end;">
            <p-button
              type="button"
              label="Cancelar"
              (onClick)="closeMovementDetailsModal()"
              severity="secondary"
            />
            <p-button
              type="submit"
              label="Buscar"
              icon="pi pi-check"
              [disabled]="!dniQuery"
            />
        </div>
  </form>
</p-dialog>
