<div class="card">
  <p-toolbar [style]="{ 'border-radius': '3rem', 'padding': '1rem 1rem 1rem 1.5rem' }">
        <ng-template #start>
            <div class="flex items-center gap-2" style="display: flex; align-items: center; gap: 0.5rem;">
                <svg xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2"
                        style="width: 2rem; height: 2rem; margin-right: 1rem">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
                <p-button (onClick)="handleOpenSidebar(true)" icon="pi pi-bars" severity="secondary"></p-button>
            </div>
        </ng-template>

        <ng-template #end>
            <!-- <div class="flex items-center gap-2" style="display: flex; align-items: center; gap: 0.5rem;">
                <p-button label="Share" severity="contrast" size="small" />
                <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                    [style]="{ width: '32px', height: '32px' }"
                />
            </div> -->
  
            <div class="right-wrap">
                <!-- Buscador tipo pill con icono a la izquierda -->
                <p-iconfield iconPosition="left" class="search-pill">
                <!-- <p-inputicon styleClass="pi pi-search"></p-inputicon> -->
                <input pInputText type="text" placeholder="Search" />
                </p-iconfield>

                <!-- Botón redondo (morado del tema) -->
                <!-- <p-button
                [rounded]="true"
                [raised]="true"
                severity="help"
                icon="pi pi-sparkles"
                class="brain-btn"
                (click)="onAiClick()">
                </p-button> -->

                <!-- Avatar que abre el menú popup -->
                <button
                type="button"
                class="avatar-trigger"
                (click)="profileMenu.toggle($event)"
                aria-haspopup="true"
                aria-controls="profile_menu">
                <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                    [style]="{ width: '32px', height: '32px' }">
                </p-avatar>
                </button>
            </div>
        </ng-template>
    </p-toolbar>
      <!-- Menú emergente anclado al avatar -->
  <p-menu
    #profileMenu
    id="profile_menu"
    [popup]="true"
    [model]="profileItems"
    [baseZIndex]="1100">
  </p-menu>
</div>