<p-drawer
  #drawerRef
  [visible]="isOpen()"
  [modal]="false"
  [style]="{ 'background': 'red' }">
  <ng-template #headless>
    <div class="drawer">
      <div class="drawer__header">
        <span class="brand">
          <strong>
            <span class="brand__text" style="color: rgb(63, 75, 179); font-family: 'Italianno', cursive; font-size: 70px;">Carina</span>
          </strong>
        </span>
        <span>
          <p-button
            type="button"
            (onClick)="handleOpenSidebar()"
            icon="pi pi-times"
            rounded="true"
            outlined="true"
            styleClass="icon-24">
          </p-button>
        </span>
      </div>

      <div class="drawer__scroll">
        <ul class="menu" *appHasPermission="['access_dashboard', 'access_work_log', 'access_equipo_mecanico', 'access_reportes']">
          <li>
            <button class="menu__toggle" (click)="toggle('fav')">
              <span class="menu__section">PARTES DIARIOS DIGITALES</span>
              <i class="pi" [class.pi-chevron-down]="!favOpen()" [class.pi-chevron-up]="favOpen()"></i>
            </button>

            @if (favOpen()) {
              <ul class="menu__list" animate.enter="slide-down" animate.leave="slide-up">

                <li *appHasPermission="'access_dashboard'" routerLink="dashboard">
                  <a class="menu__link">
                    <i class="pi pi-chart-line"></i>
                    <span>Dashboard</span>
                  </a>
                </li>

                <li *appHasPermission="'access_work_log'" routerLink="daily-work-log">
                  <a class="menu__link">
                    <i class="pi pi-pen-to-square"></i>
                    <span>Registro de trabajo diario</span>
                  </a>
                </li>

                <li *appHasPermission="'access_equipo_mecanico'" routerLink="mechanical_equipment">
                  <a class="menu__link">
                    <i class="pi pi-cog"></i>
                    <span>Equipo Mecanico</span>
                  </a>
                </li>

                <li *appHasPermission="'access_reportes'" routerLink="reports">
                  <a class="menu__link">
                    <i class="pi pi-table"></i>
                    <span>Reportes</span>
                  </a>
                </li>

                <li routerLink="digital-signature-tray">
                  <a class="menu__link">
                    <i class="pi pi-pencil"></i>
                    <span>Bandeja firmas - Partes Diarias</span>
                  </a>
                </li>

              </ul>
            }
          </li>
        </ul>
        <ul class="menu" *appHasRole="'SuperAdministrador_pd'">
          <li>
            <button class="menu__toggle" (click)="toggle('fav')">
              <span class="menu__section">USUARIOS</span>
              <i class="pi" [class.pi-chevron-down]="!favOpen()" [class.pi-chevron-up]="favOpen()"></i>
            </button>

            @if (favOpen()) {
              <ul class="menu__list" animate.enter="slide-down" animate.leave="slide-up">
                <li routerLink="users">
                  <a class="menu__link">
                    <i class="pi pi-users"></i>
                    <span>Usuarios</span>
                  </a>
                </li>
                <li routerLink="roles">
                  <a class="menu__link">
                    <i class="pi pi-shield"></i>
                    <span>Roles</span>
                  </a>
                </li>
              </ul>
            }
          </li>
        </ul>
      </div>

      <div class="drawer__footer">
        <hr class="hr" />
        <a class="profile flex justify-content-center">
          <span class="profile__name flex justify-content-center ">Versión 1.0.0</span>
        </a>
      </div>
    </div>
  </ng-template>
</p-drawer>
