<section class="container">
    <!-- <button class="see_product" (click)="seeProductos(1)">Adicionar Orden</button> -->
    <p>PRODUCTOS</p>
    <button class="see_product" (click)="abrirModalCrear()">Adicionar Producto</button>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>PRODUCTO ID</th>
          <th>Nombre</th>
          <th>Código patrimonial</th>
          <th>Precio unitario</th>
          <th>Estado</th>
          <th>Accion</th>
          <!-- <th>Accion</th> -->
          <!-- <th>productos asociados a orden</th> -->
          
        </tr>
      </thead>
      <tbody>
        @for (item of productsListData(); track item?.id) {
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.heritage_code }}</td>
            <td>{{ item.unit_price }}</td>
            <td>{{ item.state }}</td>
            <!-- <td> <button class="see_product" (click)="seeProductos(item.id)"> ver </button> </td> -->
            <td class="action_style"> 
                <button class="see_product" (click)="selectProduct(item)">
                  ver lista de movimientos
                </button>
                <button class="see_product add_product" (click)="addNewKardexItem()"> adicionar movimiento</button> 
            </td>
            
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
@if (isModalOpen()){
    <app-add-new-product-modal 
        (productCreated)="onProductCreated($event)" 
        (cancelar)="cerrarModalCrear()"
    />
}

@if(isModalKardexListOpen()){
  <app-kardex-list-modal 
    [productItem]="productSelected()" 
    (closeModal)="cerrarModalListaKardex()"
  />
}

@if(isModalKardexLAddNewOpen()){
  <app-kardex-add-new-modal 
    [productItem]="productSelected()" 
    (cancelar)="cerrarKardexAddNewModal()"
  />
}
  <!-- cerrarKardexAddNewModal():void{ -->




<!-- <app-add-new-product-modal [ngIf]="isModalOpen()"/> -->
<!-- [ngIf]="condition" -->

<!-- @if (isModalOpen()) {
  <app-add-new-product-modal />
} -->