.container{
  background: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.action_style{
    /* background: blue; */
    display: flex;
    gap: 0.2rem;
}

  .see_product{
    background: rgb(138, 4, 27);
    color: white;
    font-size: 16px;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin-left: auto;
  }
  .add_product{
    background: rgb(145, 95, 4);
  }
    .see_product:hover{
      background: #720432;
    }



.table-container {
  /* max-width: 800px; */
  /* margin: 20px auto; */
  overflow-x: auto;
  /* padding: 2rem; */
  
}

    table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    thead {
      background-color: #0d024e;
      color: white;
    }

    th, td {
      padding: 12px 15px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    tbody tr:hover {
      background-color: #f9f9f9;
    }

    .badge {
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 0.85em;
      font-weight: bold;
    }

    .activo {
      background-color: #28a745;
      color: white;
    }

    .inactivo {
      background-color: #dc3545;
      color: white;
    }

    .pendiente {
      background-color: #ffc107;
      color: #212529;
    }

