<div class="dark_background">
    <div class="container">
        <!-- <mat-icon class="close_icon_style" (click)="handleOpenSidebar()">close</mat-icon> -->
        <div class="header_container">
            <h2>Kardex de movimientos del producto: {{productItem()?.name}} </h2>
            <mat-icon class="close_icon_style" (click)="onCancel()">close</mat-icon>
        </div>
        <div class="body_container">

            <div class="information_box">
            
                <div class="information_item">
                    <h2 class="information_item_title">Total de entradas</h2>
                    <h2 class="information_item_value">{{ totalEntradas() | number:'1.0-2' }} uni.</h2>
                </div>
                <div class="information_item">
                    <h2 class="information_item_title">Total de salidas</h2>
                    <h2 class="information_item_value">{{ totalSalidas() | number:'1.0-2' }} uni.</h2>
                </div>
                <div class="information_item">
                    <h2 class="information_item_title">Stock Final</h2>
                    <h2 class="information_item_value">{{ stockFinal() | number:'1.0-2' }} uni.</h2>
                </div>
            </div>

            <div class="table-container">
                <table>
                <thead>
                    <tr>
                    <th>ID</th>
                    <!-- <th>Producto asociado</th> -->
                    <th>tipo de movimiento</th>
                    <th>Fecha de movimiento</th>
                    <th>Cantidad de movimiento</th>
                    <!-- <th>Saldo final</th> -->
                    <!-- <th>Accion</th> -->
                    <!-- <th>productos asociados a orden</th> -->
                    
                    </tr>
                </thead>
                <tbody>
                    @for (item of kardexList(); track item?.id) {
                    <tr>
                        <td>{{ item.id }}</td>
                        <!-- <td>{{ item.product_id }}</td> -->
                        <td>{{ item.movement_type}}</td>
                        <td>{{ item.movement_date}}</td>
                        <!-- <td>{{ item.amount}}</td> -->
                        <!-- <td> {{ item.amount % 1 === 0 ? item.amount : (item.amount | number:'1.0-2') }}</td> -->
                        <td>{{ item.amount! % 1 === 0 ? item.amount! : (item.amount! | number:'1.0-2') }}</td>

                        <!-- <td>{{ item.final_balance}}</td> -->
                        <!-- <td> <button class="see_product" (click)="seeProductos(item.id)"> ver </button> </td> -->
                        <!-- <td class="action_style"> 
                            <button class="see_product"> ver lista de movimientos</button>
                            <button class="see_product add_product"> adicionar movimiento</button> 
                        </td> -->
                        
                    </tr>
                    }
                </tbody>
                </table>
            </div>
        </div>
        <!-- <button (click)="onProductCreated()">crear</button> -->
    </div>
</div>
