/* You can add global styles to this file, and also import other style files */


/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  background: #F2F2F2;

}
img, video {
  max-width: 100%;
  height: auto;
}
button {
  all: unset; 
    border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, select{

      all: unset; 
    box-sizing: border-box;
    width: 100%;

    border: 1px solid #ccc;

    font-family: inherit;
    font-size: inherit;
} */

/* @import "tailwindcss"; */
@import 'material-icons/iconfont/material-icons.css';
@import "primeicons/primeicons.css";
/* @import 'primeflex/primeflex.css'; */
/* @import "tailwindcss"; */
/* @plugin "tailwindcss-primeui"; */
.timepicker-overlay {
  z-index: 9999 !important;
}

.timepicker-backdrop-overlay {
  z-index: 9998 !important;
}

ngx-material-timepicker-container {
  z-index: 9999 !important;
}