div{
    background: rgba(0, 0, 255, 0.068);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    p{
        background: pink;
    }