<div class="dark_background">
    <div class="container">
        <!-- <mat-icon class="close_icon_style" (click)="handleOpenSidebar()">close</mat-icon> -->
        <div class="header_container">
            <h2>Adicionar movimiento kardex</h2>
            <mat-icon class="close_icon_style" (click)="onCancel()">close</mat-icon>
        </div>
        <div class="body_container">

            <!-- <input/>
            <input/>
            <input/>
            <input/> -->
            asdfasd

        </div>
        <!-- <button (click)="onProductCreated()">crear</button> -->
    </div>
</div>
